@import "bootstrap/scss/bootstrap-grid";

.row + .row {
  margin-top: 16px;
}
.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgb(238, 226, 233);
  border: 1px solid rgb(205, 166, 166);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

h1 {
  color: #fff;
  font-family: Outfit;
  font-size: 72px;
  font-weight: 300;
}

h2 {
  color: #fff;
  font-family: Outfit;
  font-size: 35px;
  font-weight: 400;
}

h3 {
  color: black;
  font-family: Outfit;
  font-size: 35px;
  font-weight: 400;
}

p {
  color: #fff;
  font-family: Outfit;
  font-size: 20px;
  font-weight: 300;
}

/* HEADER */

.header {
  display: flex;
  flex-wrap: wrap-reverse;
  padding: 20px;
}

.langues {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: end;
  gap: 30px;
  font-family: outfit;
  padding: 20px;
  font-size: 20px;
}
.langues:hover {
  font-size: 35px;
}

.gras {
  font-size: 30px;
  font-weight: 400;
}
/* MENU */

.MENU {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: left;
  gap: 105px;
}

h4 {
  color: black;
  font-family: Outfit;
  font-size: 20px;
  font-weight: 400;
}

/* ACCUEIL */

.Accueil {
  display: flex;
}

.Accueil {
  color: #fff;
  text-align: center;
  font-family: Outfit;
  font-size: 94.211px;
  font-weight: 400;
}

.image_01 {
  width: 819px;
  height: 4px;
  margin: 110px;
}

.text-img {
  display: flex;
  background-image: url(/image\ projet\ vin/01_accueil.png);
  height: 554px;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
}

.text {
  padding: (116px, 162px, 200px, 162px);
  color: #fff;
  text-align: center;
  font-family: Outfit;
  font-size: 94.211px;
  font-weight: 400;
}

.Accueil-button {
  color: #000;
  text-align: center;
  font-family: Outfit;
  font-size: 20px;
  font-weight: 400;

  padding: 15px 30px;
  width: 356px;
  justify-content: center;
}

.Accueil-button {
  transition-duration: 0.3s;
  border-radius: 63px;
  background: rgba(255, 255, 255, 0.5);
}
.Accueil-button:hover {
  background: white;
}

/* EGO */

.EGO {
  margin-top: 110px;
}
.image_02 {
  width: 6px;
  height: 352px;
}

.Background-Ego {
  padding: 95px;
  height: 740px;
  background: #6f4e4e;
  margin-left: -20%;
}

.Ego-button {
  padding: 15px;
  color: #fff;
  font-family: Outfit;
  font-size: 24px;
  font-weight: 400;
  text-align: center;

  width: 263px;
  height: 67px;
}

.Ego-button {
  border-radius: 9px;
  border: 1px solid #fff;
  background-color: #6f4e4e;
  transition: 0.2s;
}

.Ego-button:hover {
  border: 1px rgba(255, 255, 255, 0.516);
  color: #6f4e4e;
  background: rgba(255, 255, 255, 0.516);
}

/* PHILOSOPHIE */

.PHILO-MARGE {
  margin-top: 110px;
}

.Background-Philo {
  padding: 75px;
  height: 288px;
  background: #6f4e4e;
}

/* QUI SOMMES-NOUS ? */

.QSN {
  margin-top: 110px;
}
.Background-QSN {
  padding: 95px;
  height: 563px;
  background: #6f4e4e;
  position: relative;
  margin-right: -20%;
}

/* DECOUVRIR */

.DECOUVRIR {
  margin-top: 110px;
}

.Découvrir {
  color: black;
  font-family: Outfit;
  font-size: 20px;
  font-weight: 300;
}

/* FOOTER */

.Background-Footer {
  margin-top: 110px;
  background: #392929;
}

.Logo-Tanins-Blanc {
  flex: start;
  height: 20px;
}

.adresse {
  width: 251px;
  color: #fff;
  font-family: Outfit;
  font-size: 20px;
  font-weight: 300;
}

.Newsletter {
  display: flex;
  justify-content: end;
  align-items: end;
}

.email {
  color: #fff;
  font-family: Outfit;
  font-size: 25px;
  font-weight: 300;
  height: 72.168px;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.email {
  width: 356px;
  padding: 18px;
  border-radius: 17px;
  border: 1px solid #fff;
  background: #392929;
}
.email:hover {
  border: none;
  background: rgba(255, 255, 255, 0.25);
}
.inscription {
  color: #fff;
  font-family: Outfit;
  font-size: 25px;
  font-weight: 300;
  height: 72.168px;
  flex-direction: column;
  justify-content: center;

  display: flex;
  width: 261px;
  align-items: center;
  height: 72.168px;
}
.inscription {
  border-radius: 17px;
  background: rgba(255, 255, 255, 0.1);
  transition-duration: 0.2s;
}
.inscription:hover {
  color: #000;
  background: #fff;
}

.box {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 24px;
}

.Réseaux {
  padding: 0px;
}

.Associés {
  display: flex;
  flex-wrap: wrap-reverse;
}

.Bio-Suisse {
  display: flex;
  justify-content: end;
}

.infos {
  color: #fff;
  text-align: right;
  font-family: Outfit;
  font-size: 15px;
  font-weight: 400;
}

.infos {
  flex-direction: row;
  text-align: center;
  align-items: center;
}

/* ---------- VIN ROUGE 🍷 ---------- */

.SEPARATION {
  height: 2px;
  opacity: 100;
  background: #ded6d6;
  align-items: center;
  margin: 20px;
}

.title {
  color: black;
  font-family: Outfit;
  font-size: 40px;
  font-weight: 400;
}

.name {
  color: black;
  font-family: Outfit;
  font-size: 96px;
  font-weight: 300;
}
h5 {
  color: #000;
  font-family: Outfit;
  font-size: 20px;
  font-weight: 500;
  align-items: left;
}
h6 {
  color: #000;
  font-family: Outfit;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  justify-content: center;
}

.Detail-01 {
  display: flex;
  align-items: left;
  padding: 20px;
  gap: 50px;
}

.INFOS {
  display: flex;
  color: #000;
  font-family: outfit;
  font-size: 20px;
  text-align: center;

  margin-top: 92px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transition-duration: 0.3s;
}

.red-température:hover {
  color: #000;
  text-align: center;
  font-family: Outfit;
  font-size: 25px;
  font-weight: 400;

  width: 261px;
  height: 352px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background: #e5e0d4;
}
.Red-MEP {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.Commander-Rouge {
  display: flex;
  margin-top: 102px;
  margin-bottom: 102px;
  justify-content: center;
  align-items: center;

  color: #000;
  font-family: outfit;
  font-size: 25px;
}

.Commander-Rouge {
  width: 357px;
  height: 93px;
  border-radius: 20px;
  background-color: #d4caca;
}
.Commander-Rouge:hover {
  width: 357px;
  height: 93px;
  border-radius: 20px;
  border: 3px solid #000;
  background: #fff;
}

.Background-Footer {
  border: none;
}
/* ---------- VIN BLANC 🍾 ---------- */

.SEPARATION_02 {
  height: 2px;
  opacity: 0.4;
  background: #ded6d6;
  align-items: center;
  margin: 20px;
}

.titre {
  color: black;
  font-family: Outfit;
  font-size: 40px;
  font-weight: 400;
}
.Nom {
  color: black;
  font-family: Outfit;
  font-size: 96px;
  font-weight: 300;
}

.Detail-02 {
  display: flex;
  align-items: left;
  padding: 20px;
  gap: 50px;
}

/* SUGGESTIONS */

.suggestion {
  color: white;
  text-align: center;
  transition-duration: 0.3s;
}
.suggestion:hover {
  color: #000;
  text-align: center;
  font-family: Outfit;
  font-size: 25px;
  font-weight: 400;
  justify-content: center;

  width: 261px;
  height: 352px;
  border-radius: 20px;
  background: #e5e0d4;
}

/* TEMPERATURE */

.température {
  color: #fff;
  text-align: center;
  font-size: 20px;
  transition-duration: 0.3s;
}

.température:hover {
  color: #000;
  text-align: center;
  font-family: Outfit;
  font-size: 25px;
  font-weight: 400;

  width: 261px;
  height: 352px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background: #e5e0d4;
}

.typo {
  color: #000;
  text-align: center;
  font-family: Outfit;
  font-size: 35px;
}

/* GARDE */

.garde {
  color: #fff;
  text-align: center;
  transition-duration: 0.3s;
}

.garde:hover {
  color: #000;
  text-align: center;
  font-family: Outfit;
  font-size: 25px;
  font-weight: 400;

  width: 261px;
  height: 352px;
  border-radius: 20px;
  background: #e5e0d4;
}

.Commander-Blanc {
  display: flex;
  margin-top: 102px;
  margin-bottom: 102px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #000;
  text-align: center;
  font-family: outfit;
  font-size: 25px;
  font-weight: 400;
}

.Commander-Blanc {
  width: 357px;
  height: 93px;
  border-radius: 20px;
  background-color: #e5e0d4;
}
.Commander-Blanc:hover {
  width: 357px;
  height: 93px;
  border-radius: 20px;
  border: 3px solid #000;
  background: #fff;
}

.RESERVATION {
  height: 456px;
  margin-bottom: 124px;
  background-image: url(/image\ projet\ vin/reservation.png);
}

/* FOOTER */

.Background-Footer-Blanc {
  color: #000;
  background-color: #e5e0d4;
}

.Logo-Tanins-Noir {
  flex: start;
  height: 20px;
}

.adresse {
  width: 251px;
  color: #000;
  font-family: Outfit;
  font-size: 20px;
  font-weight: 300;
}

.Newsletter {
  display: flex;
  justify-content: end;
  align-items: end;
}

.email {
  color: #fff;
  font-family: Outfit;
  font-size: 25px;
  font-weight: 300;
  height: 72.168px;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.email-blanc {
  font-family: Outfit;
  font-size: 25px;
  width: 356px;
  font-weight: 400;
  padding: 18px;
  border-radius: 17px;
  border: 1px solid #000;
  background: #e5e0d4;
}
.email-blanc:hover {
  border: 1px solid #000;
  background: rgba(255, 255, 255, 0.7);
}

.inscription-blanc {
  color: #000;
  font-family: Outfit;
  font-size: 25px;
  font-weight: 400;
}
.inscription {
  color: #f000;
  font-family: Outfit;
  font-size: 25px;
  font-weight: 300;
  height: 72.168px;
  flex-direction: column;
  justify-content: center;

  display: flex;
  width: 261px;
  align-items: center;
  height: 72.168px;
}
.inscription {
  border-radius: 17px;
  color: #000;
  background: #fff;
  transition-duration: 0.2s;
}
.inscription:hover {
  color: #fff;
  background: #000;
}

.box {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 24px;
}

.Réseaux-Blanc {
  color: #000;
  font-family: Outfit;
  font-size: 25px;
  font-weight: 400;
  gap: 30px;
}

.Associés-Blanc {
  color: #000;
  font-family: Outfit;
  font-size: 25px;
  font-weight: 400;
}

.Bio-Suisse {
  display: flex;
  justify-content: end;
}

.infos {
  color: #fff;
  text-align: right;
  font-family: Outfit;
  font-size: 15px;
  font-weight: 400;
}

.infos-blanc {
  color: #000;
  text-align: center;
  text-align: right;
  font-family: Outfit;
  font-size: 15px;
  font-weight: 400;
}
